@model Order

@{
    ViewData["Title"] = "Sipariş Düzenle";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OrderDate" />
            <input type="hidden" asp-for="OrderNumber" />
            <input type="hidden" asp-for="TotalPrice" />
            <input type="hidden" asp-for="AppUserId" />
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="OrderState" class="control-label"></label>
                <select asp-for="OrderState" class="form-select" asp-items="ViewBag.OrderStates">
                    <option value="">-Sipariş Durumu Seçiniz-</option>
                </select>
                <span asp-validation-for="OrderState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" disabled value="@Model.TotalPrice.ToString("N2", new System.Globalization.CultureInfo("tr-TR"))" />
            </div>
            <div class="form-group">
                <label asp-for="AppUser" class="control-label"></label>
                <input asp-for="AppUser" value="@Model.AppUser.Name @Model.AppUser.Surname" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="BillingAddress" class="control-label"></label>
                <input asp-for="BillingAddress" class="form-control" />
                <span asp-validation-for="BillingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAddress" class="control-label"></label>
                <input asp-for="DeliveryAddress" class="form-control" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="d-flex align-items-center mt-3 mb-5">
                <input type="submit" value="Kaydet" class="btn btn-primary me-2" />
                <a asp-action="Index" class="btn btn-secondary">Liste'ye Dön</a>
            </div>
        </form>
    </div>
</div>

<style>
    input:disabled {
        cursor: not-allowed;
        background-color: #f8f9fa; /* Daha açık bir arka plan rengi */
        opacity: 1; /* Bootstrap gibi framework'ler opacity düşürebilir, bunu sıfırlayarak görünürlüğü artırabiliriz */
    }
</style>