<style>
    h5 {
        font-size: 1.3rem; /* veya ihtiyaca göre ayarla */
        white-space: nowrap; /* Metnin alt satıra kaymasını engeller */
        letter-spacing: -0.9px;
    }
</style>

<section class="bg-light">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <h5>Bize Ulaşın</h5>
                    <div class="col-auto">
                        <div>
                            Adres : Bostancı / Kadıköy / İstanbul
                        </div>
                        <div>
                            Email : info@eticaretsitesi.com
                        </div>
                        <div>
                            Telefon : 0216 478 20 43
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Popüler Markalar</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-1 mb-3">
                    <h5>Popüler Kategoriler</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>

                <div class="col-md-5 offset-md-1 mb-3">
                    <form>
                        <h5>E Bülten'e Abone Olun</h5>
                        <p>Sizler için hazırladığımız aylık yenilikler ve duyurular.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email Adresinizi Giriniz...">
                            <button class="btn btn-primary flex-shrink-0" type="button">Abone Ol</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2024 ETicaret Ltd. Şti. Tüm Hakları Saklıdır.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-secondary" href="https://x.com/NukleerTakke" target="_blank">
                            <i class="bi bi-twitter-x"></i>
                        </a>

                    </li>
                    <li class="ms-3">
                        <a class="text-secondary" href="https://x.com/NukleerTakke" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-secondary" href="https://x.com/NukleerTakke" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</section>
