
@{
    ViewData["Title"] = "Erişim Engellendi";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="alert alert-warning my-5 text-center">
        <h5>Bu Alana Erişim Yetkiniz Bulunmamaktadır!</h5>
    </div>
</div>