@{
    ViewData["Title"] = "Yeni Şifre";
}

<div class="row">
    <div class="bg-light p-4 rounded shadow-sm">
        <h2 class="text-center">Şifre Yenile</h2>
    </div>
    <hr />
    <div class="col-md-4 m-auto my-5">
        <form asp-action="PasswordReset">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="user" value="@Context.Request.Query["user"]" />

            <div class="form-group">
                <label for="Password" class="control-label"></label>
                <input name="Password" class="form-control" type="password" required />
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Şifremi Güncelle" class="btn btn-primary mt-2" />
            </div>

        </form>
    </div>
</div>