@model AppUser

@{
    ViewData["Title"] = "Üye Ol";
    Layout = "_AccountLayout";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-lg rounded-4 p-4" style="max-width: 400px; width: 100%;">
        <div class="text-center">
            <img class="mb-3" src="/Img/SiteLogo2.png" alt="Site Logo" width="72">
            <h1 class="h4 mb-3 fw-bold">Üye Ol</h1>
        </div>
        <hr />
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Adınız" />
                <label asp-for="Name">Ad</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Surname" class="form-control" placeholder="Soyadınız" />
                <label asp-for="Surname">Soyad</label>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                <label asp-for="Email">Email Adres</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Phone" class="form-control" placeholder="Telefon" />
                <label asp-for="Phone">Telefon</label>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" type="password" placeholder="Şifre" />
                <label asp-for="Password">Şifre</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Kaydol</button>
        </form>

        <div class="text-center mt-3">
            <span>Zaten hesabınız var mı?</span>
            <a href="/Account/SignIn" class="text-decoration-none">Giriş Yap</a>
        </div>
    </div>
</div>
